[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
modal = "*"
diffusers = ">=0.14.0"
transformers = ">=4.25.1"
accelerate = ">=0.16.0"
torch = ">=2.0.0"
pillow = ">=9.3.0"
fastapi = ">=0.95.0"
python-dotenv = ">=1.0.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
